@import "../../styles/index.scss";
.pa-input-wrap {
  display: flex;
  // 前后置公有样式
  &.pa-input-addonBefore,
  &.pa-input-addonAfter {
    .addonBefore-content,
    .addonAfter-content {
      display: inline-flex;
      align-items: center;
      padding: 0 0.4rem;
      background-color: lighten($black, 90%);
      border: 1px solid $gray-400;
      border-radius: 3px;
    }
  }
  // 前置样式
  &.pa-input-addonBefore {
    .addonBefore-content {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
    .pa-input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  // 后置样式
  &.pa-input-addonAfter {
    .addonAfter-content {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
    }
    .pa-input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  // 禁止样式
  &.is-disabled{
    .pa-input{
      background-color: $gray-200;
      opacity:0.65;
      cursor: not-allowed;
      color: $gray-400;
    }
  }
}
