@import "../../styles/index.scss";
.btn {
  position: relative;
  display: inline-block;
  @include btn-size(
    $btn-padding-x,
    $btn-padding-y,
    $btn-font-size,
    $btn-border-radius
  );
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  transition: $btn-transition;
  cursor: pointer;
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

// large尺寸按钮样式
.btn-lg {
  @include btn-size(
    $btn-padding-x-lg,
    $btn-padding-y-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}

// small尺寸按钮样式
.btn-sm {
  @include btn-size(
    $btn-padding-x-sm,
    $btn-padding-y-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}

.btn-primary {
  @include btn-style($primary, $primary, $white);
}
.btn-danger {
  @include btn-style($danger, $danger, $white);
}
.btn-warning {
  @include btn-style($warning, $warning, $white);
}
.btn-default {
  @include btn-style(
    $white,
    $gray-400,
    $body-color,
    $blue-lighter,
    lighten($primary, 1%),
    $primary
  );
}
// 链接
.btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;
  &:hover {
    color: $link-hover-color;
    > * {
      text-decoration: $link-decoration;
    }
  }
  &:focus,
  &.focus {
    color: $link-hover-color;
    > * {
      text-decoration: $link-decoration;
    }
  }
  &:disabled,
  &.disabled {
    opacity: $btn-disabled-opacity;
    color: $btn-link-disabled-color;
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
  }
}
