@import "../../styles/index.scss";
.btn {
  position: relative;
  display: inline-block;
  @include btn-size(
    $btn-padding-x,
    $btn-padding-y,
    $btn-font-size,
    $btn-border-radius
  );
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  transition: $btn-transition;
  cursor: pointer;
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn-lg {
  @include btn-size(
    $btn-padding-x-lg,
    $btn-padding-y-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}
.btn-sm {
  @include btn-size(
    $btn-padding-x-sm,
    $btn-padding-y-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}

.btn-primary {
  @include btn-style($primary, $primary, $white);
}
.btn-danger {
  @include btn-style($danger, $danger, $white);
}
.btn-warning {
  @include btn-style($warning, $warning, $white);
}
.btn-default {
  @include btn-style($white, $gray-400, $body-color);
  &:hover{
    background-color: $blue-lighter;
    border-color: lighten($primary,1%);
    color: $primary;
  }
}
