// 白到黑
$white: #fff !default;
$gray-100: #f8f8ff !default;
$gray-200: #e0e0e0 !default;
$gray-300: #adadad !default;
$gray-400: #8e8e8e !default;
$gray-500: #7b7b7b !default;
$gray-600: #6c6c6c !default;
$gray-700: #050404 !default;
$gray-800: #3c3c3c !default;
$gray-900: #272727 !default;
$black: #000 !default;

// 主要颜色
$bule: #0eb0c9 !default;
$green: #1ba784 !default;
$red: #e16c96 !default;
$yellow: #fccb16 !default;
$purple: #983680 !default; // 紫色
$cyan: #5cb3cc !default; // 青色
$blue-lighter: #e8fcff !default;

// 功能颜色
$primary: $bule !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;
$info: $cyan !default;

// 字体类型
$font-family-sans-serif: "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas !default;
$font-family-base: $font-family-sans-serif !default;

// 字体大小
$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

// 字重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// 行高
$line-height-base: 1.5 !default;
$line-height-lg: 2 !default;
$line-height-sm: 1.25 !default;

// 标题大小
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// 链接
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// body
$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;

/**
* 边框样式
*/
$border-width: 1px !default;
$border-color: gray-300 !default;
$border-radius: 0.25rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-sm: 0.2rem !default;

/**
 按钮样式
*/
// 基本属性
$btn-padding-y: 0.375rem !default;
$btn-padding-x: 0.75rem !default;
$btn-font-weight: $font-weight-normal !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;
$btn-border-width: $border-width !default;
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15),
  inset 0 1px 1px rgba(darken($white, 50%), 0.15) !default;
$btn-transition: all 0.15s ease-in-out;

// 链接按钮
$btn-link-color: $link-color !default;
$btn-link-hover-color: $link-hover-color !default;
$btn-link-disabled-color: $gray-600 !default;

// 禁用样式
$btn-disabled-opacity: 0.65 !default;

// small号的按钮
$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.5rem !default;
$btn-font-size-sm: $font-size-sm !default;

// large号的按钮
$btn-padding-y-lg: 0.5rem !default;
$btn-padding-x-lg: 1rem !default;
$btn-font-size-lg: $font-size-lg !default;

// radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;

/*
  menu部分
*/
// menu
$menu-border-width: $border-width !default;
$menu-border-color: $gray-200 !default;
$menu-box-shadow: inset 0 1px 0 rgba($white, 0.15),
  inset 0 1px 1px rgba(darken($white, 50%), 0.15) !default;
$menu-transition: all 0.15s ease-in-out !default;

// menu-item
$menu-item-padding-y: 0.5rem !default;
$menu-item-padding-x: 0 !default;
$menu-item-margin-y: 0 !default;
$menu-item-margin-x: 1rem !default;
$menu-item-active-color: $primary !default;
$menu-item-active-border-width: 2px !default;
$menu-item-disabled-color: $gray-300 !default;
