@mixin btn-size($padding-x, $padding-y, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin btn-style(
  $background,
  $border-color,
  $color,
  $hover-background-color: lighten($background, 7.5%),
  $hover-border-color: lighten($border-color, 10%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border-color;
  &:hover {
    background: $hover-background-color;
    border-color: $hover-border-color;
    color: $hover-color;
  }
  &:focus,
  &.focus {
    background: $hover-background-color;
    border-color: $hover-border-color;
    color: $hover-color;
  }
  &:disabled,
  &.disabled {
    color: $color;
    background-color: $background;
    border-color: $border-color;
  }
}

// animation动画slide
@mixin slide-animation(
  $direction: "top",
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top
) {
  .slide-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .slide-in-#{$direction}-enter-active {
    opacity: 1;
    transform-origin: $origin;
    transform: $scaleEnd;
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .slide-in-#{$direction}-exit {
    opacity: 1;
  }
  .slide-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: $origin;
  }
}

// Menu菜单MenuItem的伪类after动画
@mixin animation-border-zoom {
  animation: animation 0.2s ease-in-out;
  @keyframes animation {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}

// Divider分割线的文本位置
@mixin divider-origin($direction: "center") {
  $left-width: 50%;
  $right-width: 50%;
  @if ($direction == "left") {
    $left-width: 5%;
    $right-width: 95%;
  } @else if($direction == "center") {
    $left-width: 50%;
    $right-width: 50%;
  } @else {
    $left-width: 95%;
    $right-width: 5%;
  }
  &::before {
    content: "";
    margin-right: 1rem;
    width: $left-width;
    border-top: 1px solid $gray-200;
  }
  &::after {
    content: "";
    margin-left: 1rem;
    width: $right-width;
    border-top: 1px solid $gray-200;
  }
}
